<?xml version="1.0"?>
<robot name="kuka_cybertech" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find kuka_ros2_control_support)/urdf/common_kuka.xacro" />

  <link name="world" />

  <joint name="world-base_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <link name="grasp_link" />

  <joint name="flange-grasp_link" type="fixed">
    <origin xyz="0 0 0" rpy="${radians(90)} 0 ${radians(90)}" />
    <parent link="flange" />
    <child link="grasp_link" />
  </joint>

</robot>
